$color-body-bckgr: #dcdcdc;

// Card colors
$color-card-bckgr: #f1faee;
$color-image-bckgr: #caf0f8;
$color-card-text: #112A46;
$color-pokemon-type-text: #fff;

// NAVIGATION
// Buttons colors
$color-btn: #4abfee;
$color-btn-hover: #FF4081;
$color-btn-text: #fff;
// Input colors
$color-input-border: #303030;